article
    h2 how cureency works
        x
    section
        h3 buying or selling
        ul
            li commodity
            li currency
            li security
        h3 moment
        ul
            li spot
            li future
        h3 3 kinds
        ul
            li commodity money
            li representative money
            li fiat money
    section
        h3


