article
    h2 endorsement
    section
        p i should give space to those I like
        h3
            small take
            |  kei's enemy
        h4 reasons:
        ul
            li russian
            li young
            li representation of a pillar of my soul
        h4
            | and it's not important whether 
            small this is not IT or smth
        p I don't grant best &emsp; I grant the weakest


