article
    section
        p lunatic paralysis
        p paralyse d'un lunatique
        h3 I will explain
        ul
            li
                dt disruptive innovation
                dd
                    h4 either
                    ul
                        li
                            dt new-market disruption
                            dd
                                p creating a market & business model
                                p needs unserved
                        li
                            dt low-end disruption
                            dd simplified and cheaper
