article
    h2
        small there are only so many 
        |  key concepts
    section
        p x
        h5 key concepts:
        ul.tilde
            li monitoring
            li organization
            li workflow
            li data representation
            li big data
            li real time
            li industrial espionage (research) ?
        hr
        ul
            li technical journalizm
            li development methodology
        ul.horizontal
            li.disc web
            li.disc net
            li.disc virtualization
            li.disc integration
            li API
            li monitoring
        ul.horizontal
            li technical journalism &&nbsp;education
        ul.horizontal
            li development methodology
    aside.italic I need not money but
        br
        | ...
        br
        | this fairytale
        br
        | cyberpunk fairytale written
    section
        p there are only so many key things
            br
            span.spacer-20
            | thoughts
        p
            mark a thing is a thought

