@import '../fluidity/lib/fluidity'
@import '../kouto-swiss'

understroke(color)
    content ' '
    position absolute
    width 100%
    height 100%
    left 0
    bottom 0
    border-left solid color 1px
    border-bottom solid color stroke-boldness

html
    font-size 14px
    font-family 'MavenPro-Medium'
    background-color color-background
    color color-foreground

dt, dd
    font-family 'MavenPro-Medium'


.articles
    list-style-type none
.articles > li
    display inline-block

.connect
    list-style-type none
.connect > li
    display inline-block

.color
    list-style-type none
    float right

.clearfix
    clearfix()

.color > li:not(.active)
    display inline-block
.color > li.active
    display none

.blocklink
    position relative

.blocklink .filler
    position absolute
    width 100%
    height 100%
    top 0 
    left  0 
    z-index  1 

.blocklink.active .content:after
    understroke(color-foreground)

.blocklink:hover:not(.active) .content:after
    understroke(color-foreground)

header, footer
    text-align center

header hr, footer hr
    width 80%
    min-width 20rem
    border none
    position relative
    margin 0.5rem auto

hr:after
    understroke(color-foreground)

@font-face
    font-family 'Open Sans Regular'
    src url('fonts/OpenSans-Regular.ttf')

@font-face
    font-family 'Play-Regular'
    src url('fonts/Play-Regular.ttf')

@font-face
    font-family 'MavenPro-Medium'
    src url('fonts/MavenPro-Medium.ttf')

@font-face
    font-family 'Palanquin-Medium'
    src url('fonts/Palanquin/Palanquin-Medium.ttf')

.brand
    font-size: 3rem

.brand-headline
    font-family: 'Palanquin-Medium'
    margin-bottom: 0
    line-height: 0.9
    font-weight: normal
    font-size: 2.9em

.brand-subscript
    font-family 'MavenPro-Medium'
    font-size 0.7rem
    margin: 0 auto
    font-size: 1em
    line-height: 1

// .brand-subscript-underline
//     text-decoration: underline

.brand-underline
    width 20rem
    min-width 20rem
    border none
    position relative
    margin 0.08rem auto 1rem

.brand-underline:after
    border-bottom-width: 0.12rem

a, a:visited
    color color-active
    text-decoration none
