doctype html
html(lang="en")
    include ./include/head-default.jade
    body
        h1 lrnd.flks
        h1
            i we're in business of 
                strong thought organization

        ul
            li are
            li do
            li tell
            li join
