doctype html
html(lang='en')
    head
        title lrnd.flks
        include _include/head-default
    body
        header
            div.clearfix
                ul.color
                    li.css-switch#black go black
                    li.css-switch.active#white go white
            div.brand
                h1.brand-headline lrnd.flks
                p.brand-subscript
                    span.brand-subscript-underline thou
                    span.brand-subscript-nounderline g
                    span.brand-subscript-underline ht
                    span.brand-subscript-nounderline &nbsp;
                    span.brand-subscript-underline or
                    span.brand-subscript-nounderline g
                    span.brand-subscript-underline anization 
                // hr.brand-underline
            ul.articles
                li.blocklink.active
                    a(href='#')
                        span.filler
                    dl.content
                        dt are 
                        dd minimalist &&nbsp;innovative
                li.blocklink
                    a(href='#')
                        span.filler
                    dl.content
                        dt do
                        dd systems design
                li.blocklink
                    a(href='#')
                        span.filler
                    dl.content
                        dt tell 
                        dd how to build an empire
            ul.articles.calling
                li.blocklink
                    a(href='#')
                        span.filler
                    p.content you may join
            include _include/connect
            hr
        main
            article
                h2
                    small there are only so many 
                    |  key concepts
                section
                    p x
                    h5 key concepts:
                    ul.tilde
                        li monitoring
                        li organization
                        li workflow
                        li data representation
                        li big data
                        li real time
                        li industrial espionage (research) ?
                    hr
                    ul
                        li technical journalizm
                        li development methodology
                    ul.horizontal
                        li web
                        li net
                        li virtualization
                        li integration
                        li API
                        li monitoring
                    ul.horizontal
                        li technical journalism &&nbsp;education
                    ul.horizontal
                        li development methodology
                aside.italic I need not money but
                    br
                    | ...
                    br
                    | this fairytale
                    br
                    | cyberpunk fairytale written
                section
                    p there are only so many key things
                        br
                        span.spacer-20
                        | thoughts
                    p
                        mark a thing is a thought
        footer
            include _include/connect
