doctype html
html(lang='en')
    head
        title lrnd.flks
        include ./include/head-default.jade
    body
        header
            ul.color
                li go black
                li.active go white
            h1.brand-headline lrnd.flks
            p.brand-subscript thought organization 
            hr
            ul.articles
                li.blocklink.active
                    a(href='#')
                        span.filler
                    span.decoration
                    dl.content
                        dt are 
                        dd minimalist &&nbsp;innovative
                li.blocklink
                    a(href='#')
                        span.filler
                    span.decoration
                    dl.content
                        dt do
                        dd systems design
                li.blocklink
                    a(href='#')
                        span.filler
                    span.decoration
                    dl.content
                        dt tell 
                        dd how to build an empire
            h6.calling
                i you 
                | may join
            ul.connect
                li
                    a(href='https://telegram.me/joinchat/030520720129ed13372becc552a3c7e1')
                        p telegram
                li
                    a(href='https://github.com/lrnd-flks')
                        p github
                li
                    a(href='mailto://lrnd.flks@gmail.com')
                        p email
        article
