ul.connect
    li
        a(href='https://telegram.me/joinchat/030520720129ed13372becc552a3c7e1')
            p telegram
    li
        a(href='https://github.com/lrnd-flks')
            p github
    li
        a(href='mailto://lrnd.flks@gmail.com')
            p email
